<ion-grid>
    <ion-row>
        <ion-col>
            <p class="author" float-left>{{recommendation.author}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>{{recommendation.content}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-col>
                <button (click)="deleteRecommendation(recommendation)" ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-col>
            <button ion-button color="light" float-right>
                VIEW DETAILS
            </button>
        </ion-col>
    </ion-row>
</ion-grid>